:root {
    --ff-primary: "Open Sans", sans-serif;
  
    --fw-normal: 500;
    --fw-medium: 550;
    --fw-bold: 600;
    --fw-bolder: 900;
  
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lr: 20px;
    --fs-xl: 24px;
    --fs-xxl: 28px;
    --fs-xxxl: 35px;
  
    --white: #fff;
    --black: #000;
  }